@import "base/variables";
@import "base/mixins";
@import "base/animations";



* {
	font-family: "Museo", sans-serif;
}

.container {
	position: relative;
	max-width: 950px;
	margin: 0 auto;
}

a {
	text-decoration: none;
}

@import "blocks/promo";
@import "blocks/header";
@import "blocks/buttons";
@import "blocks/advantages";
@import "blocks/titles";
@import "blocks/consultation";
@import "blocks/forms";
@import "blocks/carousel";
@import "blocks/catalog";
@import "blocks/review";
@import "blocks/footer";
@import "blocks/modal";
@import "blocks/pageup";
@import "media";
