.advantages {
	background-color: #f6f6f6;
	color: #0d0d0d;
	padding: 70px 0 78px 0;
	&__wrapper {
		display: flex;
		justify-content: space-between;
		margin-top: 65px;
	}
	&__item {
		display: flex;
		flex-direction: column;
		max-width: 238px;
		align-items: center;
	}
	&__subtitle {
		font-size: 18px;
		font-weight: 700;
		margin-top: 38px;
	}
	&__descr {
		font-size: 14px;
		font-weight: 300;
		margin-top: 26px;
		text-align: center;
		a {
			color: #ff0000;
			text-decoration: underline;
			&:hover {
				text-decoration: none;
			}
		}
	}
	&__icon {
		&_animated {
			animation: heartbeat 2.5s ease infinite;
			&:hover {
				animation-play-state: paused;
			}
		}
	}
}
